* {
    padding: 0;
    margin: 0;
    
    font-family: sans-serif;
    color: #666;
}

body {
    text-align: center;
    background-image: url(background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 80% center;
	background-attachment: fixed;
}

.add-container {
    margin:40px;
}

#add-input, #add-button {
    box-sizing: border-box;
    height: 40px;
    
    padding: 2px 8px;
    margin: 2px;
    
    border-radius: 5px;
    border: none;
    outline: none;
}

#add-input {
    width: 320px;
    background: #fffa;
}

#add-input:focus {
    outline: none;
    background: #fff;
}

#add-button {
    width: 120px;
    background: #66d;
    color: #fff;
}

#add-button:hover {
    background: #88f;
}

.name-container {
    margin: 40px;
}

.name {
    display: grid;
    grid-template-columns: minmax(100px, 300px) 1fr;
    
    margin: 6px;
    padding: 8px;
    
    border-radius: 5px;
    background: #fffa;
    
    text-align: start;
}

.name__title {
    font-size: 12pt;
}

.name__title:focus {
    outline: none;
}

.name__buttons {
    display: flex;
    justify-self: end;
}

.name__save-button, .name__delete-button {
    margin: 0 2px;
    padding: 0 4px;
    
    border-radius: 3px;
    
    border: none;
    outline: none;
}

.name__save-button {
    background: #4f4;
}

.name__delete-button {
    background: #f44;
}

.name__save-button:hover {
    background: #2b2;
}

.name__delete-button:hover {
    background: #b33;
}

.disabled, .disabled:hover {
    background: #bbb;
}