.contenido {
	width: 600px;
	height: 300px;

	position: absolute;
}

.contenido__cargando {
	background: #7777;

	width: 100%;
	height: 100%;

	position: absolute;

	top: 0;
	left: 0;
}

.contenido__cargando img {
	height: 40%;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;

	position: absolute;
}