body {
    text-align: center;
    background: #000;
}

.texture-selector {
    display: inline-block;
    height: 100px;
    
    margin: 20px auto;
    
    padding: 12px;
    border: 2px solid #060;
    
    background: #fff;
    
    position: relative;
}

.texture-selector img {
    height: 100%;
    margin: 0 8px 0 8px;
}

.texture-area {
    width: 300px;
    height: 300px;
    
    margin: 20px auto;
    
    border: 2px solid #060;
    
    background: #fff;
}