.zona-arrastre {
    display: block;
    border: 2px dashed #000;
    width: 300px;
    height: 150px;
    position: relative;
}

.zona-arrastre__p {
    display: inline-block;
    position: absolute;
    height: 20px;
    width: 160px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

img {
    max-width: 50%;
}