.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.flex-item {
	min-width: 100px;
	padding: 5px;
	margin: 15px;

	border: 1px solid black;
	border-radius: 5%;
	transition: background .2s 0s ease-in;

	text-align: center;

	cursor: pointer;
}

.flex-item img {
	width: 50px;
}

.flex-item:hover, .flex-item:focus /* hover cambia el estilo al pasar el mouse por encima, y focus, al seleccionar con TAB */ {
	background: #aaa;
} 

form {
	text-align: center;
}

input[type="submit"] {
	padding: 20px;
	width: 200px;

	background: #fb0;

	border: none;
	border-bottom: 4px solid #f90;

	font-size: 16px;
}

input[type="submit"]:hover, input[type="submit"]:focus {
	background: #ff0;
	border-bottom: 4px solid #fb0;
}